.App {
  text-align: center;
}

body {
    padding: 2% 5%;
}

.mainContainer {
    padding: 2%;
}

/* Header/Blog Title */
.header {
    padding: 2%;
    background: #fafafa;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    margin-right: 2%;
}

.quotesContainer {
    display: flex;
    justify-content: center;
}

.quotesItem {
    width: 33%;
    padding: 2%;
    text-align: center;
}

.linksContainer {
    padding: 2%;
}

.linkContainer {
    margin: 2% 0%;
}

.titleContainer a {
    font-size: 20px;
}

.urlContainer a {
    font-size: 15px;
    color: darkgreen;
}
.snippetContainer a {
    font-size: 16px;
    color: black;
}